{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>{{ total|usd }}</b></td>
            </tr>
        </tfoot>
        <tbody>
            {% for symbol in portfolio %}
                <tr>
                    <td>
                        {{ symbol }}
                    </td>
                    <td>
                        {{ (symbol|lookup)['name'] }}
                    </td>
                    <td>
                        {{ portfolio[symbol] }}
                    </td>
                    <td>
                        {{ (symbol|lookup)['price']|usd }}
                    </td>
                    <td>
                        {{ (portfolio[symbol]*(symbol|lookup)['price'])|usd }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cash|usd }}</td>
            </tr>
    </table>
{% endblock %}
